################################################################################
# s3worker config
#
# Note:  Do not use quotes("", '') around any values
################################################################################
[global]

# Temporary storage - Used for downloading/processing assets
tmp_dir = /tmp

# Logging file
log_file = /tmp/s3worker.log

# Logging level: acceptable options (debug, info, warning, error, critical)
log_level = debug

################################################################################
# AWS API auth creditials
################################################################################
[AWSauth]
# AWS Access Key
aws_access_key = <Insert AWS Access Key>

# AWS Secret Key
aws_secret_key = <Insert AWS Secret Key>

################################################################################
# S3 configuration
################################################################################
[S3config]
# S3 bucket name
s3_bucket = up-test-bk

################################################################################
# SQS configuration
################################################################################
[SQSconfig]
# Name of job queue in SQS
queue_name = s3proxy_upload

# Wait time between checking the queue after receiving a job count of 0
sleep_time = 10

################################################################################
# Job configuration
#
# Notes:
#    - All sections must start with "job"
#    - All execs(commands) must start with "exec"
#    - Jobs/Execs are read in alphetical/numeric order
# Variables (use in exec):
# ex. /tmp/image.png
#    $filename = /tmp/image.png
#    $basename = /tmp/image
################################################################################
[job_png]
match = png
exec_0 = echo $filename
exec_11 = echo $filename-11
exec_1 = cp $filename $basename-foo.png
exec_3 = echo $filename-3
exec_2 = echo $filename-2

[job_html]
match = html
exec = echo cp $filename $basename.new.html
